@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	background-color: #C6E7F7;
}

h1, h2, h3 {
	font-family: Verdana;
}

p {
	font-family: 'Montserrat', sans-serif;
}
